.text-decoration-none {
    color: black;
}

.text-decoration-none:hover {
    color: black;
}

.textobotao {
    font-size: 20px;
    padding-top: 10px;
    padding-right: 65%;
}

.getstarted {
    font-family: $font-body;
    height: 40px;
    width: 180px;
    background-color: $color-accent-blue;
    border-color: $color-accent-blue;
    color: $color-neutral-white;
    border-radius: 0.2em;
    font-size: 13px;
    border-style: unset;
    box-shadow: 1px 1px 5px grey;
}

.texto1p2 {
    font-size: 20px;
    padding-top: 20px;
    padding-right: 64%;
}

.texto2p2 {
    font-size: 20px;
    padding-right: 64%;
}

.seehowfyloworks {
    color: $color-accent-cyan;
    width: 204px;
    padding-bottom: 50px;
}

.seehow {
    border-bottom: 1px solid hsl(170, 45%, 43%);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 4px;
}

.texto3p2 {
    color: hsl(170, 45%, 43%);
    font-size: 20px;
    padding-right: 5px;
}

.seehow:hover {
    text-decoration: none;
}

.quotetext {
    padding-top: 8px;
    font-family: $font-body;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.8;
}

.avatar {
    border-radius: 100px;
}

.textoavatar1 {
    height: auto;
    width: auto;
    font-family: $font-body;
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 1px;
}

.textoavatar2 {
    font-family: $font-body;
    font-size: 12px;
}

.earlyaccess {
    font-family: $font-headings;
    font-weight: bolder;
    color: $color-neutral-white;
    font-size: 32px;
}

.earlyaccessp {
    padding-right: 57%;
    font-family: $font-body;
    color: $color-neutral-white;
    font-size: 14px;
    letter-spacing: 1px;
}


.logo {
    filter: brightness(0) invert(1);
    margin-left: 100px;
    margin-top: 100px;
}
.getstarted {
    font-family: $font-body;
    height: 40px;
    width: 180px;
    background-color: $color-accent-blue;
    border-color: $color-accent-blue;
    color: $color-neutral-white;
    border-radius: 0.2em;
    font-size: 13px;
    border-style: unset;
    box-shadow: 1px 1px 5px rgb(83, 83, 83);
}

.social {
    border-radius: 15px;
    border: 1px solid;
    padding: 5px;
}

.inputebotao {
    padding-right: 100px;
}